<div id="blogPage"> 
 
	 <!-- Nav Bar -->
	 <br><br><br>
	  <div class="row">
	    <div class="large-12 columns">
	
	      <h1 class="white">Developer's Blog <small><h5 class="white">Nothing I say is important.</h5></small></h1>
	    </div>
	  </div>
	  <!-- End Nav -->
	 
	 
	  <!-- Main Page Content and Sidebar -->
	  <div class="row">
	  	
 	
	 
	    <!-- Main Blog Content -->
	    <div class="large-9 columns" role="content">
				
				
			<div id="entryLoadScreen" class="small-12 columns">			
				<br>
				<img src="loadingImg/loadingIcon_5.gif" class="edgeMinor"/>
				<span class="white">LOADING...</span>
				<br>
			</div>	
							
			<div id="entryContainer" class="small-12 columns">	
				
			</div>
			
		
				 
	    </div>
	    <!-- End Main Content -->
	 
	 
	    <!-- Sidebar -->
	    <aside id="entrySidebar" class="large-3 columns whiteGlass25 edgeMinor zeroOpacity">
	 		
	 		<br>
	 	
	 		<a data-reveal-id="newEntryModal" class="small round button">Create New Entry</a>
	 		<br>      
	 
	      <h5>Categories</h5>
	      <ul class="side-nav">
	        <li><a >News</a></li>
	        <li><a >Code</a></li>
	        <li><a >Design</a></li>
	        <li><a >Fun</a></li>
	        <li><a >Weasels</a></li>
	      </ul>
	 
	      <div class="panel edgeMinor">
	        <h5>Featured</h5>
	        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
	        <a >Read More →</a>
	      </div>
	 
	    </aside>
	 
	    <!-- End Sidebar -->
	  </div>	 
	  <!-- End Main Content and Sidebar -->
	 
	 
	 <div id="newEntryModal" class="reveal-modal" class=""  data-reveal> 
		<a class="close-reveal-modal">&#215;</a>		
		<div>
			<div id="newTitle" contenteditable="true" ><h3 class="teal"><a>This is the title</a></h3></div>
	 		<div id="newAuthor"></div><br>
			<textarea id="newContent" style="min-height: 200px" contenteditable="true">Post whatever you need to here.  This is just a quick editor.</textarea>
		</div>
		<br>
		<a onclick="clickAndCreateNew(this)" class="small edgeMinor button floatRight leftIndent">Create New Entry</a>		
	</div>
	
	
	 
	  <!-- Footer -->
	  <footer class="row">
	    <div class="large-12 columns">
	      <br><br>
	      <div class="row">
	        <div class="large-6 columns">
	          <p>© Copyright no one at all. Go to town.</p>
	        </div>
	        <div class="large-6 columns">
	          <ul class="inline-list right">
	            <li><a onclick="scrollToTop()">Back to top</a></li>

	          </ul>
	        </div>
	      </div>
	    </div>
	  </footer>
	  

</div>
<script>
	


	
	
	
	// INIT //
	//
		//////////////
		function clickAndCreateNew(theBtn){
			
				// HIDE BUTTON
				$(theBtn).css('visibility', 'hidden');
			
				// CHECK FOR VALID HTML // WILL RETURN FALSE IF THERE ARE ANY BROKEN TAGS
				var checkValidate = true;		
				if (!validateHTML($('#newTitle').html()) 	){ checkValidate = false;}
				if (!validateHTML($('#newAuthor').html())	){ checkValidate = false;}
				if (!validateHTML($('#newContent').val())	){ checkValidate = false;}
						
				//  CHECK FOR ESCAPE STRINGS
				if (checkValidate){
					var title 	=  convertStringToEscape($('#newTitle').html()	);
					var author 	=  convertStringToEscape($('#newAuthor').html()	);
					var content =  convertStringToEscape($('#newContent').val()	);
					
					//	SEND TO PHP	
					createNewEntry( author, title, content, function(returnState){
						
					
						if(returnState){
							// MODAL FADE OUT
							$('#newEntryModal').foundation('reveal', 'close');
							
							// BUTTON FADES BACK IN
							setTimeout(function(){
								$(theBtn).css('visibility', 'visible');	
							}, 500);
							
							// GET LAST ENTRY AND POST IT
							
							callPHPFunction('getLastEntry', function(returnState, lastEntryNum ){		
							
								pullEntry(lastEntryNum, function(returnState, data){
								
									var entries = JSON.parse(loadVar("blogPull"));
										
									// SCROLL TO THE BOTTOM
	 								scrollToBottom();
	 								
									buildBlog(entries, 0, 1, 'blogPage', false, 'large'); 						 // RETURNS AND BUILDS NUMBER OF POSTS
								});
							});						
							
						}
						else{
							// PHP FAILURE
							alert("Server error.  Please try again.");
							$(theBtn).css('visibility', 'visible');								
						}
					});
				}else{
					alert("Please validate your HTML tags before continuing.");
				}
		};
		//////////////
		
		//////////////
		function checkLogState(){
		 if( !User.active ){
		 	$('#newAuthor').html('<h4 class="teal"><small>Annoynomous</small></h4>')
		 }
		 else{
		 	
		 	$('#newAuthor').html( '<h4 class="teal"><small>' + User.firstName + " " + User.lastName + '</small></h4>' )
		 }
		}
		//////////////
		
		//////////////
		fetchEntries(0, 10, function(returnState){	
			if(returnState){
				callPHPFunction('countPosts', function(returnState, data){	
					$('#entrySidebar').animate({opacity: 1}, 500, function(){	});
					if (returnState){	
							
						var entries 		= JSON.parse(loadVar("blogEntries"));
						var totalEntries	= data; 
						buildBlog(entries, 0, totalEntries, 'blogPage', false, 'large'); 						 // RETURNS AND BUILDS NUMBER OF POSTS
					}
					else{
						trace("Error in server script.");
					};					
				});		
			}else{
				trace("PHP error at fetch entries.");
			};
		});	
		checkLogState();
		//////////////		
		
		
		
	//	
	//////////
	
	
</script>