 <!-- Navigation -->
<div id="mainPage">

	<div class="show-for-large-up">
			<div class="" style="width: 100%; height: 800px;">
	
				<br><br><br>
				<section id="jms-slideshow" class="jms-slideshow" style="min-width: 1000px; max-width: 1200px">
					<div class="step" data-color="color-1">
						<img src="templateExamples/exampleImages/sets/1/1.jpg" />
						<div class="jms-content" >
							<h3>Whoa, where am I?</h3>
							<h4>Relax internet traveler.  You've stumbeled onto my website.  Hey, I'm Allen.  And I'm a front-end developer.</h4>
							<a class="jms-link" href="">Read more</a>
						</div>
						
					</div>
					<div class="step" data-color="color-2" data-y="100" data-scale="0.4" data-rotate-x="30">
						<div class="jms-content">
							<h3 style="color: black" >A front-end whaaa?</h3>						
							<h4 style="color: black">Yeah, we make this thing called the <i>internet</i> happen.  I'm sure you've heard of it.  It's literally EVERYWHERE.  You can't go outside and walk ten feet without tripping over one of it's many dicks.<h4>
							<a class="jms-link" href="">Read more</a>
						</div>
						<img src="templateExamples/exampleImages/sets/1/2.jpg" />
					</div>
					<div class="step" data-color="color-3" data-x="2000" data-z="3000" data-rotate="170">
						<div class="jms-content">
							<h3>Wait, dicks?!</h3>						
							<h4>Relax, I was just being metaphorical.  There's no dicks here.  Well, I'm <i>reasonably</i> sure there aren't any.  I don't know for certain - I'm not a <b>SCIENTIST</b>.  But hey, can we move on?  I have a pitch I'm trying to get to and your penis obsession is muddling it all up.</h4>
							<a class="jms-link" href="">Read more</a>
						</div>
						<img src="templateExamples/exampleImages/sets/1/3.jpg" />
					</div>
					<div class="step" data-color="color-4" data-x="3000">
						<div class="jms-content">
							<h3>I'm still so confused.</h3>
							<h4>Look, don't be.  I make websites.  Like really <i>really</i> good ones.  And this is 2013 - you're gonna NEED a website.  Ever heard of Google?  They have a website and they're disgustingly rich.</h4>
							<a class="jms-link" href="">Read more</a>
						</div>
						<img src="templateExamples/exampleImages/sets/2/1.jpg" />
					</div>
					<div class="step" data-color="color-5" data-x="4500" data-z="1000" data-rotate-y="45">
						<div class="jms-content">
							<h3>Seriously?</h3>
							<h4>Eeeeeh, well, I didn't say having a website will make you rich, but it certainly doesn't hurt your chances.  But that's where I come in. I won't charge you an arm and a leg (or any other body extremities - ew, don't be gross) and you get an awesome custom built site.</h4>
							<a class="jms-link" href="">Read more</a>
						</div>
						<img src="templateExamples/exampleImages/sets/2/1.jpg" />
					</div>
					<div class="step" data-color="color-4" data-x="1" data-z="20" data-rotate-y="45">
						<div class="jms-content">
							<h3>Wait, aren't there easier alternatives?</h3>
							<h4>There are numerous alternatives, sure, but all those pre-built sites will never be exactly the way you want it.  And don't get me started on those crappy Flash sites.  The truth of the matter is a custom site is the only way to ensure your site is built to the specifications you want.</h4>
						</div>
						<img src="templateExamples/exampleImages/sets/2/1.jpg" />
					</div>	
					<div class="step" data-color="color-3" data-x="200" data-z="-100" data-rotate-y="285">
						<div class="jms-content">
							<h3>Okay, so why you?</h3>
							<h4>Great question to which I respond with: have you seen me?  I'm amazing.  Secondly, I've been doing this for a while.  I work in the industry.  I have my blackbelt in CODE-JITSU.  And lastly, I have a dog.  That probably doesn't mean a whole lot to you but I think he's pretty rad.</h4>
						</div>
						<img src="templateExamples/exampleImages/sets/2/1.jpg" />
					</div>	
					<div class="step" data-color="color-2" data-x="0" data-z="-1000" data-rotate-y="25">
						<div class="jms-content">
							<h3 style="color: black">I'm sold.  What now?</h3>
							<h4 style="color: black">Just contact me!  Drop me an email with what you have in mind and we can get the ball rolling.</h4>
						</div>
						<a class="jms-link" href="">Contact me!</a>
						<img src="templateExamples/exampleImages/sets/2/1.jpg" />
					</div>					
				</section>
				</div>
				
	</div>
	
	    <!-- Mobile Header -->
	 
	      <div class="row show-for-small-up hide-for-large">
	        
			<div class="large-12 columns">
				<br><br>
	          <img src="siteImages/mobilefirst-blog.jpg" width="100%">			
	        </div>
	      </div><br>
	 
	    <!-- End Mobile Header -->
	<!-- BADGES -->
	<div>
		 <div class="small-12 columns blackGlass25 dropShadow" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px; ">
			<div class="small-10 small-offset-1 columns">
				<br>
				<div class="small-2 columns">
						<img src="siteImages/html5_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>HTML5</small></span></center>
				</div>
				<div class="small-2 columns">
						<img src="siteImages/css3_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>CSS3</small></span></center>
					
				</div>
				<div class="small-2 columns">
						<img src="siteImages/javascript_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>JAVASCRIPT</small></span></center>
				</div>	
				<div class="small-2 columns">
						<img src="siteImages/foundation_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>FOUNDATION 5</small></span></center>
				</div>	
				<div class="small-2 columns">
						<img src="siteImages/bootstrap_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>BOOTSTRAP 3</small></span></center>
				</div>	
				<div class="small-2 columns">
						<img src="siteImages/angular_icon.png" class="imageIcon"/>
						<br>
						<center><span data-tooltip class="has-tip" title="It's super easy.  Just check out the HTML."><small>ANGULAR JS</small></span></center>
				</div>				
			</div>
		</div>
		
		 
	</div>
	
	<div class="row">
	&nbsp
	<br><br> <br><br>
	</div>
	
	
	    <div class="large-12 columns blackGlass25 dropShadow">
	 
	  
	
	
	
	 
	 
	      <div class="row">
	        <div class="large-12 columns">
	          <div class="row">
	            <!-- Shows -->
	            <div class="large-4 small-6 columns">
	 				<br>
	              	<h4 class="white">Hi, I'm Allen</h4>
	              	<hr>
	 
	              <div class="row">
	
	                <div class="large-12 columns">
						<ul>
							<li><h5 class="white">... and I'm a front-end developer.</h5></li>
							
						</ul>
	                </div>
	              </div>
	 
	
	            </div>
	            <!-- End Shows -->
	 
	 
	            <!-- Image -->
	 
	            <div class="large-4 small-6 columns">
					<br><br>
					<br><br>
	              <img src="siteImages/profilePic.jpg">
	            </div>
	 
	            <!-- End Image -->
	 
	 
	            <!-- Feed -->
	 
	            <div class="large-4 small-12 columns">
	 				<br>
	              	<h4 class="white">Developer Blog</h4>
				  	<hr>
	
				    <div class="large-9 columns" role="content">
				    	
						<div id="entryLoadScreen" class="small-12 columns">			
							<br>
							<img src="loadingImg/loadingIcon_5.gif" class="edgeMinor"/>
							<span class="white">LOADING...</span>
							<br><br>
						</div>
										
						<div id="entryContainer" class="small-12 columns">	
							
						</div>
					
	
						
				    </div>
		  
				</div>			  
	 
	            <!-- End Feed -->
	 
	          </div>
	        </div>
	      </div>
	 
	    <!-- End Content -->
	
	
	 
	    <!-- Footer -->
	 
	      <footer class="row">
	        <div class="large-12 columns"><hr>
	            <div class="row">
	 
	              <div class="large-6 small-12 columns">
	                  <p>© Copyright no one at all. Go to town.</p>
	              </div>
	 
	              <div class="large-6 small-12 columns">
	                  <ul class="inline-list right">
	                    <li><a >Link 1</a></li>
	                    <li><a >Link 2</a></li>
	                    <li><a >Link 3</a></li>
	                    <li><a >Link 4</a></li>
	                  </ul>
	              </div>
	 
	            </div>
	        </div>
	      </footer>
	 
	    <!-- End Footer -->
	 
	    </div>
	    
	    
    
	
	
	
	 <br><br><br>
	 <br><br><br>
	 <br><br><br>
	
	
	<!-- End Footer -->


</div>

<script>



		function makeStableGallery(){
			var $grid = $( '#tp-grid' ),
				$name = $( '#name' ),
				$close = $( '#galleryBack' ),
				$loader = $( '<div class="loader"><i></i><i></i><i></i><i></i><i></i><i></i><span>Loading...</span></div>' ).insertBefore( $grid ),
				stapel = $grid.stapel( {
					onLoad : function() {
						$loader.remove();
					},
					onBeforeOpen : function( pileName ) {
						$name.html( pileName );
					},
					onAfterOpen : function( pileName ) {
						$close.show();
					}
				} );

			$close.on( 'click', function() {
				//$close.hide();
				$name.empty();
				stapel.closePile();
			} );
		}
		

		
		// INIT ////////////
		//

		
			angular.bootstrap(document);	
			// GET LAST ENTRY AND POST IT
			fetchEntries(0, 10, function(returnState){	
				if(returnState){
					callPHPFunction('countPosts', function(returnState, data){	
						$('#entrySidebar').animate({opacity: 1}, 500, function(){	});
						if (returnState){	
								
							var entries 		= JSON.parse(loadVar("blogEntries"));
							var totalEntries	= data;
							var readable		= 3;
							if (totalEntries < readable){ readable = totalEntries; };
							buildBlog(entries, 0, readable, 'blogPage', false, 'small'); 						 // RETURNS AND BUILDS NUMBER OF POSTS
						}
						else{
							trace("Error in server script.");
						};					
					});		
				}else{
					trace("PHP error at fetch entries.");
				};
			});		
					
			$( '#jms-slideshow' ).jmslideshow();
			makeStableGallery();
			
		//
		////////////////////
		



</script>
    