<div id="theHeaderBar">

	
	<div class="off-canvas-wrap docs-wrap"  >
	  <div class="inner-wrap">
		<nav class="tab-bar">
		  <section class="left-small">
			<a class="left-off-canvas-toggle menu-icon"><span></span></a>
		  </section>

		  <section id="navContent" class="middle tab-bar-section">
			
		  </section>
		  
		  

		  <section class="right-small">
			<a class="right-off-canvas-toggle menu-icon"><span></span></a>
		  </section>
		</nav>

		<aside class="left-off-canvas-menu" >
		 
		  <ul class="off-canvas-list">
			<li><label>Navigation</label></li>
				
			<li><a onclick="changeHash('home')" 	>Home	 		</a></li>
			<li><a onclick="changeHash('about')" 	>About Me 		</a></li>
			<li><a onclick="changeHash('pricing')" 	>Pricing		</a></li>
			<li><a onclick="changeHash('contact')" 	>Contact Info	</a></li>
			
			<li><label></label></li>
			<li><a onclick="changeHash('blog')" 	>Developer's Blog 	</a></li>
			<li><a onclick="changeHash('code')" 	>Code Snippets		</a></li>


			<br><br>

		  </ul>
		 
		</aside>

		
		<aside class="right-off-canvas-menu" >
			
		  <ul class="off-canvas-list">
			<li><label>LINKS</label></li>
			  <li><a data-reveal-id="loginModal">User Login</a></li>

			<br><br>
		  </ul>

		</aside>
		

		<section class="main-section blackGlass50">

		</section>

	  <a class="exit-off-canvas"></a>

	  </div>
	</div>

</div>


    <script>
    
    
    // IF USER IS LOGGED IN
    
    if( !User.active ){  // NOT LOGGED IN
		var buildString= '<h1><a class="white" onclick="changeHash(\"home\")">CodeAndLogic </a> <a class="white floatRight" data-reveal-id="loginModal">Login </a></h1>';
		$('#navContent').append(buildString);
    }else{				// LOGGED IN    	
    	var buildString= '<h1><a class="white" onclick="changeHash(\"home\")">CodeAndLogic </a> <a class="white floatRight" data-reveal-id="logoutModal">' + 'Welcome back ' + User.firstName +  '!</a></h1>';
    	$('#navContent').append(buildString);
    }
	

    </script>