
#dontClear{
	position: absolute;
	width: 300px;
	z-index: 999999;
	bottom: 1%;
}


		.fixedHeader{
			position: fixed; 
			width: 1170px;			
			top:0%; 
			z-index: 2	;
			
		}
		
		.fixedHeader-bottom{
			position: fixed; 
			width: 1170px;			
			bottom:0%; 
			z-index: 2	;
			
		}		
		
		.fixedHeader a{
			font-weight: normal;
		}	
		


		.outline{
			border: 2px solid yellow; 
		
		}
	
		/*    TEXTURES  */
		.texture0{
		    background-image:url('../images/texture1.jpg');
		    background-repeat:repeat;
		}

		.texture1{
	    	background-image:url('../images/cloth1.jpg');
		    background-repeat:repeat;
		}

		.texture2{
		    background-image:url('../images/cloth2.jpg');
		    background-repeat:repeat;
		}

		.texture3{
		    background-image:url('../images/cloth3.jpg');
		    background-repeat:repeat;
		}

		.texture4{
		    background-image:url('../images/paper1.jpg');
		    background-repeat:repeat;
		}

		.texture5{
            background-image:url('../images/cork.jpg');
            background-repeat:repeat;
		}

        .texture6{
            background-image:url('../images/cloth3.jpg');
            background-repeat:repeat;
        }

        .texture7{
            background-image:url('../images/paper1.jpg');
            background-repeat:repeat;
        }

        .texture8{
            background-image:url('../images/cork.jpg');
            background-repeat:repeat;
        }

        .texture9{
            background-image:url('../images/cork.jpg');
            background-repeat:repeat;
        }


		.redGlass50{
            background-image:url('../images/redGlass50.png');
            background-repeat:repeat;
            background-size: 100% 100%;
		}		
		
		.blackGradiant{
			background-image: -ms-linear-gradient(top, #474747 0%, #000000 100%);
			background-image: -moz-linear-gradient(top, #474747 0%, #000000 100%);
			background-image: -o-linear-gradient(top, #474747 0%, #000000 100%);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #474747), color-stop(1, #000000));
			background-image: -webkit-linear-gradient(top, #474747 0%, #000000 100%);
			background-image: linear-gradient(to bottom, #474747 0%, #000000 100%);
		}
		
		.blackGlass25{
            background-image:url('../images/blackGlass25.png');
            background-repeat:repeat;
            background-size: 100% 100%;
		}

        .blackGlass50{
            background-image:url('../images/blackGlass50.png');
            background-repeat:repeat;
            background-size: 100% 100%;
        }

        .blackGlass75{
            background-image:url('../images/blackGlass75.png');
            background-repeat:repeat;
            background-size: 100% 100%;
        }

        .blackGlass90{
            background-image:url('../images/blackGlass90.png');
            background-repeat:repeat;
            background-size: 100% 100%;
        }		

        .whiteGlass25{
            background-image:url('../images/whiteGlass25.png');
            background-size: 100% 100%;
            background-repeat:repeat-y;
        }

        .whiteGlass50{
            background-image:url('../images/whiteGlass50.png');
            background-size: 100% 100%;
            background-repeat:repeat-y;
        }

        .whiteGlass75{
            background-image:url('../images/whiteGlass75.png');
            background-size: 100% 100%;
            background-repeat:repeat-y;
        }
		
        .whiteGlass90{
            background-image:url('../images/whiteGlass90.png');
            background-size: 100% 100%;
            background-repeat:repeat-y;
        }		



        .colorSchemeWhite{
			background-color: white;
			color: black;
		}

		.colorSchemeBlack{
			background-color: black ;
			color: white
		}

        .colorSchemeGray{
            background-color: #bbbbbb;
            color: white
        }
		
        .colorSchemeDarkGray{
            background-color: #708090;
            color: white
        }		

		.colorSchemeA{
			background-color: #2bafd5 ;
			color: white
		}

		.colorSchemeB{
			background-color: #FF9640 ;
			color: black
		}

		.colorSchemeC{
            background-color: #007536 ;
            color: white
		}

		.colorSchemeD{
			background-color: #a65200;
			color: white
		}

        .colorSchemeE{
            background-color: #FF3900;
            color: white
        }



        /*  TEXT */
        .black{
            color: black
        }

        .white{
            color: white;
        }

        .gray{
            color: #5f6263;
        }

        .red{
            color: #6c0801 ;
        }
        
        .teal{
        	color: #008cba; 
        }

        .centerText{
            text-align: center;
        }

        .leftText{
            text-align: left;
        }

        .rightText{
            text-align: right;
        }

		.bold{
			font-weight: bold;
		}

        .italics{
        	font-style:italic;
        }

        .small{
             font-size: 50%;
         }
        .medium{
            font-size: 75%;
        }
        .normal{
            font-size: 100%;
        }
        .large{
            font-size: 150%;
        }
		.double{
			font-size: 200%;
		}
		.triple{
			font-size: 300%;
		}

		.lineSpace-extra{
			line-height: 150%
		}

		.nonSelect{
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			cursor: default;
		}



		.edgeMinor{
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

        .edgeMajor{
            -moz-border-radius: 15px;
            border-radius: 15px;
        }

        .floatLeft{
			position: relative;
			float: left
		}

		.floatRight{
			position: relative;
			float: right;
			padding-left: 10px; 
			
		}
		
		.rightIndent{
			margin-right: 20px; 
		}
		.leftIndent{
			margin-left: 20px; 
		}		

		.textPadding{
			padding: 2px 30px;
            padding-top: 2px;
		}



		/*    SHADOW LAYOUTS */
		.textShadow{
			text-shadow: 2px 2px #000000;
		}

        .subtleGlow{
            outline: none;
            border-color: #9ecaed;
            box-shadow: 0 0 10px #9ecaed;
        }

		.dropShadow{
			-webkit-box-shadow:   0px 1px 20px #000000;
			-moz-box-shadow: 	  0px 1px 20px #000000;
			box-shadow:			  0px 1px 20px #000000;
		}

		.upShadow{
			-webkit-box-shadow:   0px -5px 10px #000000;
			-moz-box-shadow: 	  0px -5px 10px #000000;
			box-shadow:			  0px -5px 10px #000000;
		}

		.rightShadow{
			-webkit-box-shadow:   -2px  0px 20px #000000;
			-moz-box-shadow: 	  -2px  0px 20px #000000;
			box-shadow:			  -2px  0px 20px #000000;
		}
		.leftShadow{
			-webkit-box-shadow:    5px  0px 20px #000000;
			-moz-box-shadow: 	   5px  0px 20px #000000;
			box-shadow:			   5px  0px 20px #000000;
		}

		.noEvent{
			pointer-events: none;
		}



	.menuAccent{
		cursor: pointer
	}
	
	.modBtn{
		cursor: pointer
	}


    .allowOverflow{
        overflow: visible
    }

	.filedrag
	{
		min-height: 200px;
		height: 400px;
		border: 2px dashed #555;
		border-radius: 50px;
	}
	
	.fildrag-internal{
		margin-top: 10%;
		padding: 50px 50px; 
		height: 300px;
	}

	.metro {
	  display: inline-block;
	  padding: 10px;
	  margin: 10px;
	 

	  /* Font styles */
	  color: white;
	  font-weight: bold;
	  text-decoration: none;
	
	}

	.metro:hover {
		background: #51bddd; 
		color: white; 
	}

	.metro.three-d {
	  position: relative;
	  box-shadow: 
		1px 1px #53A7EA,
		2px 2px #53A7EA,
		3px 3px #53A7EA;
	  transition: all 0.1s ease-in;
	}

	.metro.three-d:active { 
	  box-shadow: none;
	  top: 3px;
	  left: 3px;
	}
	
	
	.centerDiv{
		 float: none;
		 margin-left: auto;
		 margin-right: auto;	
	}
	
	
	.col-centered{
		float: none;
		margin: 0 auto;
	}	
	
	.disabledDiv{
		opacity: .5; 
	}

	
	h1, h2, h3, h4, h5{
		color: white; 
	}
	
	.textwrap {
	    float: left; 
	  	padding-right: 1.5em; 
	  	
	}	

	.textwrap-right{
		float: right;
		padding-left: 1.5em; 
	}
	
	.zeroOpacity{
		opacity: 0; 
	}

	a:link 		{text-decoration: none;}    
	a:visited	{text-decoration: none;} 
	/*
	a:hover {color: teal;}  
	a:active {color: teal;}  
	*/